@font-face {
  font-family: "SF Pro";
  src: url("../fonts/ttf/SFProDisplay-Ultralight.ttf") format("truetype"),
       url(../fonts/woff/SFProDisplay-Ultralight.woff) format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/ttf/SFProDisplay-Thin.ttf") format("truetype"),
       url("../fonts/woff/SFProDisplay-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/ttf/SFProDisplay-Regular.ttf") format("truetype"),
       url("../fonts/woff/SFProDisplay-Regular.woff") format("woff");      
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/ttf/SFProDisplay-Medium.ttf") format("truetype"),
       url("../fonts/woff/SFProDisplay-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/ttf/SFProDisplay-Semibold.ttf") format("truetype"),
       url("../fonts/woff/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/ttf/SFProDisplay-Bold.ttf") format("truetype"),
       url("../fonts/woff/SFProDisplay-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("../fonts/ttf/SFProDisplay-Black.ttf") format("truetype"),
       url("../fonts/woff/SFProDisplay-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
