//PALETE DE CORES
//Cores Primárias
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$primary-background-color: #f7f7f7;

//Cores Secundárias
$accent-color:         #607D8B;
$secondary-color-text: #212121;
$tertiary-color-text:  #757575;
$divider-color:        #BDBDBD;
$angular-material-light-color: #fff;